html {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    max-width: 1280px;
    background-color: #EFE9CE;
    margin: 0 auto;

}

body{
   margin: 0px !important;
   background-color: #EFE9CE;
}

.page-container {
    margin-bottom: 70px;
}

nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 50%;
    height: auto;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    box-sizing: border-box;
}

nav ul li {
    color: #4C3832;
    padding: 10px 10px;
    background-color: transparent;
}

nav ul li:hover {
    background-color: #C65236;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li a:active {
    color: #4C3832;
    background-color: #C65236;
}

nav ul li a {
    color: #4C3832;
    text-decoration: none;
}


/* Tablets */
@media all and (max-width:800px) {
    nav {
        justify-content: flex-start;
    }

    nav ul {
        justify-content: space-between;
    }

    .subtext {
        flex-direction: column;
        align-items: center;
    }
}


/* Phones */
@media all and (max-width:600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    nav ul li {
        text-align: center;
    }

    .subtext {
        flex-direction: column;
        align-items: center;
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url(Assets/Images/coffee-beans.jpg);
    background-size: cover;
    background-color: #4C3832;
    text-align: center;
}

@keyframes appear {
    from {
        opacity: 0.0;
        top: -100px;
    }

    to {
        opacity: 1.0;
        top: 0.0;
    }

}

.banner .heading {
    flex: 1;
    justify-self: center;
    color: #EFE9CE;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    animation: appear 1s ease-in-out 0s forwards;
}

.banner .heading small {
    font-size: 24px;

}

.main-text {
    font-size: 18px;
    padding: 12px;
    margin-top: 20px;
}

hr {
    border-top: 5px dotted #312521;
    width: 1000px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.subtext {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subtext div {
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    color: #EFE9CE;
}

.subtext .history, .rituals {
    background-color: #4C3832;
    width: 360px;
    height: 240px;
}

.coffee-mug {
    width: auto;
    height: 270px;
    object-fit: contain;
    border-radius: 10px;
    margin: 10px;
}

.quote {
    display: block;
    padding: 50px;
    text-align: center;
    font-style: italic;
}

.quote::before {
    display: inline-block;
    content: open-quote;
    color: #4C3832;
    font-size: 32px;
}

.quote::after {
    display: inline-block;
    content: close-quote;
    color: #4C3832;
    font-size: 32px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #4C3832;
    color: #EFE9CE;
    text-align: center;
    padding: 18px;
}

