div.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
}

h3.title {
    font-size: 20px;
    padding: 12px;
    margin: 6px;
    border-top: 2px solid #4C3832;
    border-bottom: 2px solid #4C3832;
}

.container {
    display: flex;
    border-radius: 5px;
    background-color: #C65236;
    padding: 20px;
    margin: 10px 0px;
}

.container form {
    flex: 1;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #4C3832;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    height: 50px;
}

input[type=submit] {
    background-color: #4C3832;
    color: #EFE9CE;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #EFE9CE;
    color: #4C3832
}

.container .map {
    padding: 12px;
    margin-left: 20px;
    flex: 1;
} 

/* Tablets */
@media all and (max-width:800px) {
    nav {
        justify-content: flex-start;
    }

    nav ul {
        justify-content: space-between;
    }

    .subtext {
        flex-direction: column;
        align-items: center;
    }
}


/* Phones */
@media all and (max-width:600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    nav ul li {
        text-align: center;
    }

    .subtext {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
    }

    .container .map {
        margin-left: 0px;
    }
}