div.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
}

h3.title {
    font-size: 20px;
    margin: 6px;
    color: #4C3832;
    border-bottom: 2px solid #4C3832;
}

.main-text {
    font-size: 18px;
    padding: 12px;
    margin-top: 20px;
}

hr {
    border-top: 5px dotted #312521;
    width: 1000px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.text {
    flex-basis: 250px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border: 2px solid #EFE9CE;
    border-radius: 10px;
    position: relative;
    background-color:#4C3832;
    color: #EFE9CE;
}

