div.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
}

h3.title {
    font-size: 20px;
    padding: 12px;
    margin: 6px;
    border-top: 2px solid #4C3832;
    border-bottom: 2px solid #4C3832;
}

.brewing-equipment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.equipment {
    flex-basis: 250px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border: 2px solid #4C3832;
    border-radius: 10px;
    position: relative;
}

.equipment h4 {
    font-size: 16px;
    padding: 12px;
    margin: 6px;
    border-top: 2px solid #4C3832;
    border-bottom: 2px solid #4C3832;
}

.equipment p {
    padding: 0px 12px;
}

.equipment img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.equipment img:hover {
    transform: scale(95%);
    opacity: 0.8;
}

.equipment button {
    background-color: #EFE9CE;
    color: #4C3832;
    padding: 12px 20px;
    border: 2px solid #4C3832;
    border-radius: 10px;
    width: 50%;
    font-size: 16px;
}

.equipment button:hover {
    background-color: #C65236;
}

.equipment .price {
    display: block;
    text-align: center;
    width: 90%;
    position: absolute;
    bottom: 15px;
}