div.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
}

h3.title {
    font-size: 20px;
    padding: 12px;
    margin: 6px;
    border-bottom: 2px solid #4C3832;
}

.main-text {
    font-size: 18px;
    padding: 12px;
    margin-top: 20px;
}

.coffee-blends {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #EFE9CE;
}

.blends {
    flex-basis: 400px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 900;
    width: 400px;
    height: 400px;
    margin: 20px;
    position: relative;
    flex: 1;
    transition: all 0.5s ease-in-out;
    position: relative;   
}

.blends img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.blend {
    font-size: 22px;
    color: #EFE9CE;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
}

.blends p {
    font-size: 18px;
    color: #4C3832;
    padding-bottom: 120px;
}

.unique:hover {
    transform: scale(95%);
}

.classics:hover {
    transform: scale(95%);
}
